body {
        background-color: rgba(0, 0, 0, 0.749);
        color: blanchedalmond;
        font: 13px sans-serif;
    }

text {
    fill: rgb(242, 239, 239);
}

path.candle {
    stroke: #f7f7f7;
}

path.candle.body {
    stroke-width: 0;
}

path.candle.up {
    fill: #FF0000;
    stroke: #FF0000;
}

path.candle.down {
    fill: #00AA00;
    stroke: #00AA00;
}

.volumeBar {
    opacity: 0.8;
    fill: #00AA00;
}

path.volume.up {
    fill: #FF0000;
}

path.volume.down {
    fill: #00AA00;
}

path.volume.equal {
    fill: #FF0000;
}

.ma-c path.line {
    fill: none;
    stroke-width: 2;
    stroke-dasharray: 10,10;
}
.ma-c.get path.line{
    stroke: #7def0b;
}
.ma-c.loss path.line{
    stroke: #ff0000;
}



.ma-0 path.line {
    stroke: #1f77b4;
    fill: none;
    stroke-width: 2;
}
.ma-1 path.line {
    stroke: #aec7e8;
    fill: none;
    stroke-width: 2;
}
.ma-2 path.line {
    stroke: #ff7f0e;
    fill: none;
    stroke-width: 2;
}

.x.axis line {
    fill: none;
    stroke: rgba(255, 255, 255, 0.1);
}

.y.axis line {
    fill: none;
    stroke: rgba(255, 255, 255, 0.1);
}

.crosshair {
    cursor: crosshair;
}

.crosshair path.wire {
    
    stroke: #984949;
    stroke-dasharray: 1, 1;
}

.crosshair .axisannotation path {
    fill: #000000;
}


rect.pane {
    cursor: move;
    fill: none;
    pointer-events: all;
}

.tradearrow path.tradearrow {
    stroke: none;
}

.tradearrow path.buy {
    fill: #0000FF;
}

.tradearrow path.sell {
    fill: #9900FF;
}

.tradearrow path.highlight {
    fill: none;
    stroke-width: 2;
}

.tradearrow path.highlight.buy {
    stroke: #0000FF;
}

.tradearrow path.highlight.sell {
    stroke: #9900FF;
}


table td,th{
    border: 0.5px outset rgb(121, 112, 93);
    padding: 10px;
    /* width: 100%; */
    font-size: 20px;
}

.ma{
    display: flex;
    padding: 5px;
    font-size: 20px;
}
.ma li{
    list-style: none;
    margin: 5px;
}
#list{
    padding: 20px;
}

#control{
    display: flex;
    justify-content: start;
    align-items: top;
    font-size: 20px;
}
#control div{
    margin: 5px
}


.price_green{
    color:#7def0b;
}
.price_red{
    color:#ff0000;
}

#graph{
    float: left;
    width: 1350px;
}
#table_row,#table_year,#table_month{
    float: left;
    width: 50%;
}
